image: python:3-alpine
stages:
  - test

variables:
  PLATFORMIO_HOME_DIR: "$CI_PROJECT_DIR/.platformio"

cache:
  paths:
    - .platformio

before_script:
  - apk add gcompat
  - ln -s /lib /lib64
  - pip install platformio

pan-ht:
  stage: test
  script:
    - pio run -d Pan_HT

pan-l:
  stage: test
  script:
    - pio run -d Pan_L

pan-uv:
  stage: test
  script:
    - pio run -d Pan_UV
