image: slepp/arduino

verify-dev:
  stage: test
  variables:
    DEV_BOARD: "arduino:avr:uno"
  before_script:
    - mkdir -p /root/Arduino/libraries
    - cp -R libraries/* /root/Arduino/libraries/
  script:
    - find . -type f -name '*.ino' -not -path '*/.git/*' | xargs -n1 arduino --verify --verbose --board $DEV_BOARD

verify:
  stage: test
  variables:
    BOARD: "arduino:avr:pro:cpu=8MHzatmega328"
  before_script:
    - mkdir -p /root/Arduino/libraries
    - cp -R libraries/* /root/Arduino/libraries/
  script:
    - find . -type f -name '*.ino' -not -path '*/.git/*' | xargs -n1 arduino --verify --verbose --board $BOARD

